<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eZmanage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container d-flex justify-content-between">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">eZManage</a>
                    </div>
                    <div class="box-nav d-flex justify-between">
                        <a href="/" class="border-shadow">
                            <span class="text-gradient navbar-text p-2">Log Out</i></span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->
